## Include
include README.md COPYING COPYING.lesser NOTICE
recursive-include compiler *.py *.tl *.tsv *.txt
recursive-include tests *.py

## Exclude
prune pyrofork/errors/exceptions
prune pyrofork/raw/functions
prune pyrofork/raw/types
prune pyrofork/raw/base
exclude pyrofork/raw/all.py
