body{
    --color-green: darkgreen;
    --color-red: darkred;
}

.usable-by {
    border: 1px ;
    border-radius: .2em;
    padding: 2px 5px;
    background-color: #1a1c1e;
}

a .pre{
    color:lightgrey;
}

.md-main a {
    text-decoration: underline;
    color:lightgrey;
}

.md-sidebar a {
    text-decoration: none;
}
